body {
    background-color: lightcyan;
    margin: 25px;
    left: 0;
    right: 0;
}

.container-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px 25px;
}

#boxa {
    grid-column: span 3;
    background-color: whitesmoke;
    height:200px;
    width: calc(200px*3 + 25px*2 + 10px*4);
    justify-self: center;
    padding: 10px;
}

#top , #boxb {
    grid-column: span 3;
    justify-self: center;
    text-align: center;
    background-color:lightgreen;
    width: 100%
}


.box1, .box2, .box3 {
    background-color: whitesmoke;
    height:100px;
    width: 200px;
    justify-self: center;
    padding: 10px;
}

.pink{
    background-color:pink;
    border-radius: 150px;
    height:100px;
    width: 100px;
    justify-content: center;
    padding: 10px;
}

.yellow{
    background-color:yellow;
    border-radius: 150px;
    height:100px;
    width: 100px;
    justify-content: center;
    padding: 10px;
}

#pcir{
    position:absolute;
    transform:translateX(178.25px);
    top: calc(25px*6);
}

#p1, #p2, #p3 {
    border-radius: 150px;
    height:50px;
    width: 50px;
}



